name: Deploy to Production
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Build and Push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/gimmary:prod .
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/gimmary:prod
  deploy: 
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: SSH to EC2 and deploy
        uses: appleboy/ssh-action@v1.2.3
        with:
          host: ${{ secrets.ALICE_HOST }}
          username: ${{ secrets.ALICE_USER }}
          key: ${{ secrets.ALICE_SSH_KEY }}
          script: |
            cd /home/${{ secrets.ALICE_USER }}/gimmary
            git pull origin main
            sudo docker-compose pull
            sudo docker-compose stop
            sudo docker-compose rm -f
            sudo docker-compose up -d
            sudo docker image prune -f 